* {
    font-family: 'Montserrat', sans-serif;
}

.row {
    margin: 0;
}

[class*="col-"] {
    padding: 0;
}


h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0;
}

h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0.5rem 0; 
}

#page_title {
    padding-left: 1rem;
    font-size: 2rem;
    color: rgb(40, 80, 173);
    font-weight: 600;
}

a,
a:hover {
    text-decoration: none;
}

.users-row {
    padding: 0.25rem 0;
}

.users-edit {
    background-color: orange;
    padding: 0 0.3rem;
    margin: 0 0.2rem;
    border-radius: 1px;
    border: 1px solid darkorange;
}

.users-remove {
    padding: 0 0.3rem;
    margin: 0 0.2rem;
    border-radius: 1px;
    background-color: red;
    border: 1px solid darkred;
}
