* {
    font-family: 'Open Sans', sans-serif;
}

.row {
    margin: 0;
}

[class*="col-"] {
    padding: 0;
}

h1 {
    font-size: 3.75rem;
    color: white;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0;
}

h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    margin: 0.5rem 0; 
}

#page_title {

    padding-left: 1rem;
    font-size: 2rem;
    color: rgb(40, 80, 173);
}

a,
a:hover {
    color: white;
    text-decoration: none;
}
